/* Variables
   ============================= */
:root {
  --color-primary: #344e41;
  --color-secondary: #e5590a;
  --color-black: #090909;
  --color-white: #ffffff;
  --background-color: #f5f8fd;
  --bg-right: #cde1c3;
  --sidebar: #d2efeb;
}

.main {
  display: grid;
  grid-template-rows: 0.5fr 2fr 1.7fr;
  height: 100vh;

  padding-left: 16px;
  padding-right: 16px;
}

.greetings {
  grid-row: 1/2;
  background-color: var(--background-color);

  margin-top: 20px;
}

.waste {
  grid-row: 2/3;
  margin-bottom: 20px;
  background-color: var(--bg-right);

  border-radius: 24px;
  padding: 12px;
}

.conversion {
  grid-row: 3;
  margin-bottom: 4px;

  /*CONTENT*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.waste_title_container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.waste_title_container img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: gray;
  border: 2px solid hotpink;
}
.waste_title_container h4 {
  margin-top: 4px;
}

.waste_cards {
  display: flex;
  margin-top: 12px;
  gap: 20px;
  border: solid 2px indigo;
}

.card {
  background-color: var(--color-white);
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card:nth-child(1) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.suggestion {
  grid-column: 1/2;
  padding: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  background-color: aquamarine;
  border: 2px solid honeydew;
}

.environmental_impact {
  grid-column: 2;
  padding: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  background-color: darkkhaki;
  border: 2px solid wheat;
}

.rightbar {
  display: grid;
  grid-template-rows: 0.8fr 1fr;
}

.addWaste {
  grid-row: 1;
  background-color: var(--bg-right);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opinion_container {
  background-image: url("/images/unive.jpg");
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 200px;
  height: 180px;
  padding: 8px;
  margin-bottom: 10px;
}

.addWaste a {
  background-color: var(--color-secondary);
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 240px;
  border-radius: 20px;
}

.addWaste a img{
  margin-right: 6px;
}

.recommendation_container {
  grid-row: 2;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recommendations{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
